  <div id="info_wrapper">
    <%= form_for(@graph) do |g| %>
      <div id="info">
        <div><span class="info_label">Selected Stats: </span><span id="info_keys"></span></div>
        <div><span class="info_label">Start Date/Time: </span><%= g.text_field :formatted_start_at %></div>
        <div><span class="info_label">End Date/Time: </span><%= g.text_field :formatted_end_at %></div>
      </div>
      <div id="info_buttons">
        <input id="graph_draw" type="button" value="Draw Graph">
        <%= g.submit "Save" %>
      </div>
      <%= g.hidden_field :id %>
      <%= g.hidden_field :keys %>
    <% end %>
  </div>
  <div id="tree_wrapper">
    <div id="tree"><%= raw(list) %></div>
    <div id="tree_buttons">
      <div id="tree_select_none">Clear Selection</div>
    </div>
  </div>
  <div id="graph_wrapper">
    <div id="graph" class="graph"></div>
    <div id="graph-server_status:mem:resident" class="graph"></div>
  </div>


  <script type="text/javascript"> 

  $(function () {
    $('#tree_select_none').click(function() { clear_tree(); });
    $('#graph_draw').click(function() { draw_graphs(); });
    $('#graph_formatted_start_at').datetimepicker();
    $('#graph_formatted_end_at').datetimepicker();
    var keys = $('#graph_keys').val();
    $('#info_keys').text(keys)
    draw_tree(keys);
    draw_graphs(keys);
  });

  </script> 
